@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
}

.header img {
  width: 1.5rem;
}

.header button {
  background-color: rgb(68, 113, 235);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  border: none;
}

.header button a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;

  display: grid;
  grid-template-rows: 100px repeat(9,50px);

  background-color: rgb(68, 113, 235);
  color: white;

  padding-left: 1rem;
}

.sidebar-link {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: center;
  justify-content: start;
}

.sidebar img {
  width: 1.5rem;
}

.sidebar-link a {
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  text-decoration: none;
}

.main {
  grid-area: 2 / 2 / 3 / 3;

  display: grid;
  grid-template-columns: 3fr 1fr;

  background-color: rgb(228, 228, 228);
  
  position: relative;
}

.main-left-pane {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.7rem;

  position: relative;
  padding: 1rem;
  padding-top: 3.9rem;
}

.card {
  background-color: white;
  border-radius: 5px;
  padding: 0rem 1rem;
  border-left: 0.6rem solid orange;
}

.card p, .card-announcements p, .card-trending p {
  color: rgb(80, 80, 80);
}

.card:first-child:before {
  content:'Your Projects';
  
  font-size: 1.3rem;
  color: black;
  font-weight: bold;

  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
}

.card-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;

  width: 5rem;
}

.main-right-pane {
  position: relative;
  padding: 1rem;
  padding-top: 3.9rem;
}

.announcements, .trending {
  background-color: white;
  border-radius: 5px;
  padding: 1rem 1rem;
}

.trending {
  position: relative;

  margin-top: 3.9rem;
}

.trending a {
  color: black;
  text-decoration: none;
}

.card-announcements:first-child:before {
  content:'Annoucements';
  
  font-size: 1.3rem;
  color: black;
  font-weight: bold;

  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
}

.card-trending:first-child:before {
  content:'Trending';
  
  font-size: 1.3rem;
  color: black;
  font-weight: bold;

  position: absolute;
  top: -2.8rem;
  left: 1rem;
  z-index: 1;
}